body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    margin: 0; 
    padding: 0; 
    background-color: rgba(32, 200, 226, 0.756); 
}
input, select, button {
     padding: 10px; 
     margin: 10px; 
     font-size: 16px; 
     border: 1px solid #ccc; 
     border-radius: 4px; 
    }
    input {
        width: 200px;
     }
     button { 
        padding: 10px 20px;
         background-color: rgb(43, 58, 226); 
         color: white; border: none; 
         border-radius: 4px; 
         cursor: pointer;
     }
     button:hover { 
        background-color: rgb(231, 5, 5); 
    } 
    ul { 
        list-style: none;
         padding: 0; 
        }
        li { 
            background-color: rgb(242, 244, 246); 
            margin: 5px; 
            padding: 10px; 
            border: 1px solid white; 
            border-radius: 4px; 
            display: flex; 
            justify-content: space-between; 
            align-items: center;
        }
        li.completed { 
            text-decoration: line-through; 
            color: #888; 
            background: #d4edda; 
            color: #155724;
        }
        li.ongoing { 
            background: #fff3cd; 
            color: #856404; 
        }
        li button { 
            background-color: red; 
            border: none; 
            color: white; 
            padding: 5px 10px; 
            cursor: pointer;
        }
        li button:hover { 
            background-color: rgb(238, 51, 22); 
        } 
        #task-input { 
            padding: 10px; 
            margin-right: 10px; 
        }
         #priority-input, #category-input { 
            background-color: white; 
        }
        h2 { 
            color: rgb(9, 9, 10); 
            text-align: center;
        }
        